/* 

1. posicionamiento static, absolute, relative, fixed
2. modelo de caja margin, border, padding, content
3. tipografia tipos, tamaños de fuente, etc
4. visual box-shadow, border-radius, gradient, etc
5. otros 

*/
:root{
    /* colors */
    --dark-color: #01050B;
    --primary-color: #010A13;
    --third-color: #0A1428;
    --light-color: #D9D9D9;
    --secondary-color-light: #C8AA6E;
    --secondary-color: #C89B3C;
    --secondary-color-dark: #785A28;
    --font-serif: 'Marcellus', serif;
    --font-sans: 'Catamaran', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

/****** header *******/
header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 14rem;
    background-color: var(--dark-color);
    border-bottom: var(--secondary-color) 0.5rem solid;
    z-index: 2;
    box-shadow: 0rem 3rem 5rem var(--primary-color);
}

header img{
    height: 80%;
}

/****** main *******/
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--primary-color);
}

.card{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    margin: 3rem;
    width: 35rem;
    height: 45rem;
    text-align: center;
    border: var(--secondary-color) 0.2rem solid;
    box-shadow: 0rem 0rem 3rem rgba(200,155,60,0.7) inset;
    overflow: hidden;
}

.card__imagechampion{
    width: 140%;
    height: 110%;
}

.card__content__name{
    padding: 1rem 0rem 0.5rem 0rem;
    font-family: var(--font-serif);
    font-size: 4rem;
    color: var(--secondary-color);
    border-top: var(--secondary-color) 0.2rem solid;
}

.card__content__title{
    padding-bottom: 1rem;
    font-family: var(--font-sans);
    font-size:2rem;
    color: var(--secondary-color-light);
}

.card__content{
    width: 100%;
    background-color:  rgba(1,5,11,0.8);
}


/****** footer *******/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6rem;
    font-family: var(--font-sans);
    font-size: 1.3rem;
    color: var(--third-color);
    background-color: var(--secondary-color);
}


/* .card__content:hover{
    background-color:  rgba(1,10,19)
} */